WEBSITE_PORT=3001
ADMIN_PORT=3101
NODE_ENV=production
PRODUCT_DOMAIN=nana.ibnbatoutaweb.com
ADMIN_DOMAIN=admin.nana.ibnbatoutaweb.com
ADMIN_USER=admin
ADMIN_PASS=change-me-now
COOKIE_SECURE=false
DATA_FILE=/app/data/data.json
UPLOADS_DIR=/app/uploads
